<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo"><h1>sto<span>re</span>al</h1></div>
            <ul class="nav-links">
                <li><a routerLink="" class="links">Home</a></li>
                <li><a routerLink="/sellers" class="links">shop</a></li>
                <li><a routerLink="/dashboard" class="links">Dashboard</a></li>
                <li><a routerLink="" class="btn-links">Become seller</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>