.hero {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero .hero-text {
    width: 500px;
    height: 300px;
}

.hero .hero-text p {
    font-size: 3em;
    line-height: 1.3em;
}

.hero .hero-text p span {
    text-decoration: line-through;
    text-decoration-color: #F9263F;
}

.hero .hero-text .btn-links {
    font-size: 1.3em;
    color: white;
    background: #F9263F;
    padding: 12px 16px 12px 16px;
    position: relative;
    top: 50px;
}

.apropos{
    background-color: #f2f2f2;
    width: 100%;
    height: 80vh;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.apropos h1{
    color: #F9263F;
    margin: 20px;
}
.apropos .left-text{
    width: 500px;
    height:max-content;
    font-size: 1.2em;
    line-height: 34px;
    text-align: justify;
}
.apropos .right-text li{
    display: flex;
    align-items: center;
}
.apropos .right-text{
    margin-top: 100px;
    width: 500px;
    height:max-content;
    font-size: 1.2em;
}
.apropos .right-text li{
    margin-bottom: 30px;
}